<!DOCTYPE html>
<html>
<head>
    <title>
        Fleet Tracking Map
    </title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0px; padding: 0px }
        #mapCanvas { height: 100%; width: 100% }
    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        var geo;    // for the geolocation object
        var map;    // for the google map object
        var mapMarker;  // the google map marker object

        function show_map(lat,lon) {
            var latlng = new google.maps.LatLng(lat, lon);

            if (map) {
                map.panTo(latlng);
                mapMarker.setPosition(latlng);
            } else {

                var myOptions = {
                    zoom: 18,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("mapCanvas"), myOptions);
                map.setTilt(0); // turns off the annoying default 45-deg view

                mapMarker = new google.maps.Marker({
                    position: latlng,
                    title:"You are here."
                });

                mapMarker.setMap(map);
            }
        }
    </script>
</head>
<body>
    <div id="mapCanvas"></div>
    <script type="text/javascript">            
        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        var source = new EventSource("{{ssescript}}");
        source.onmessage = function(event) {
            console.log(event.data);
            var data = JSON.parse(event.data);
            console.log(data);
            var lat = data.lat.toString();
            var lon = data.lon.toString();

            console.log(lat,lon);

            show_map(lat,lon);
        };
    </script>
</body>
</html>
